# Ignore files of Total Commander V8.0.1
/LANGUAGE
/CGLPTNT.SYS
/CABRK.DLL
/CGLPT9X.VXD
/CGLPT64.SYS
/DEFAULT.BAR
/default.br2
/descript.ion
/FRERES32.DLL
/HISTORY.TXT
/KEYBOARD.TXT
/NO.BAR
/NOCLOSE.EXE
/NOCLOSE64.EXE
/REGISTER.RTF
/SFXHEAD.SFX
/SHARE_NT.EXE
/SIZE!.TXT
/TCLZMA64.DLL
/TCMADM64.EXE
/TcUsbRun.exe
/TCMADMIN.EXE
/TCMDLZMA.DLL
/TCMDX32.EXE
/TCMDX64.EXE
/TCUNIN64.EXE
/TCUNIN64.WUL
/TCUNINST.EXE
/TCUNINST.WUL
/TCUNZL64.DLL
/TCUNZLIB.DLL
/WCUNINST.WUL
/TOTALCMD.CHM
/TOTALCMD.EXE
/TOTALCMD.EXE.MANIFEST
/TOTALCMD.INC
/TOTALCMD64.EXE
/TOTALCMD64.EXE.MANIFEST
/UNACEV2.DLL
/UNRAR.DLL
/UNRAR9X.DLL
/UNRAR64.DLL
/WC32TO16.EXE
/WCMICONS.DLL
/WCMICONS.INC
/WCMZIP32.DLL
/WCMZIP64.DLL
